@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    background-image: url("img/bg.jpg");
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    
}

h1{
    text-align: center;
    color: black;
}

a{
    text-decoration: none;
}

.nav {
    overflow: hidden;
    background-color: #f2f2f2; 
}

.nav a{
    float: right;
    text-align: center;
    font-size: 18px;
    padding: 18px 22px;
    color: black;
    text-decoration: none;
    display: block;
}

.nav a:hover{
    background-color: #cccccc;
}

.nav a.active {
    background-color: #04AA6D;
}

.nav .ikon{
    display: none;
}

.logo img{
    margin: 0px 10px;
    width: 60px;
    float: left;
}

.animate-box div {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
    background: rgba(255,255,255,.7);
    border-radius: 15px;
    z-index: -1;
}
.animate-box div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.animate-box div:nth-child(2) {
    top: 26%;
    left: 89%;
    animation: animate 10s linear infinite;
}
.animate-box div:nth-child(3) {
    top: 80%;
    left: 90%;
    animation: animate 5s linear infinite;
}
.animate-box div:nth-child(4) {
    top: 65%;
    left: 75%;
    animation: animate 7s linear infinite;
}
.animate-box div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}
.animate-box div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}
.animate-box div:nth-child(7) {
    top: 70%;
    left: 33%;
    animation: animate 8s linear infinite;
}
.animate-box div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.animate-box div:nth-child(9) {
    top: 23%;
    left: 50%;
    animation: animate 6s linear infinite;
}
.animate-box div:nth-child(10) {
    top: 35%;
    left: 7%;
    animation: animate 10s linear infinite;
}
.animate-box div:nth-child(11){
    top: 50%;
    left: 43%;
    animation: animate 8s linear infinite;
}
.animate-box div:nth-child(12) {
    top: 97%;
    left: 45%;
    animation: animate 10s linear infinite;
}
@keyframes animate {
0% {
    transform: scale(0) translateY(0) rotate(50deg);
}
100% {
    transform: scale(1.6) translateY(-250px) rotate(360deg);
}
}

.team{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.border{
    display: block;
    background: #3498db;
    width: 160px;
    height: 3px;
    margin: auto;
    margin-bottom: 40px;
}

.card{
    position: relative;
    width: 300px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 30px;
    margin-bottom: 70px;
}

.card .text{
    padding: 15px;
}

.card p{
    font-size: 16px;
    line-height: 30px;
}

.card h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.card .btn{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: gray;
    position: absolute;
    border-radius: 50%;
    bottom: -60px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    z-index: 9;
    transition: all ease 0.5s;
}

.card .btn:hover{
    background-color: darkgray;
}

.card .img img{
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    object-fit: cover;
}

.card .img{
    margin-top: 30px;
}

.more-text{
    position: absolute;
    bottom: -120%;
    left: 0;
    height: 100%;
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    transition: all ease 0.7s;
    background-color: limegreen;
    
}

.more-text.active{
    bottom: 0px;
    color: white;
    text-align: center;
}

.nav .ikon{
    display: none;
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}


@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.ikon{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
.nav.responsive{
    position: relative;
    }
.nav.responsive.ikon{
    position: absolute;
    top: 0;
    right: 0;
    }
.nav.responsive .nav_elements a{
    float: none;
    display: block;
    text-align: left;
    }
.nav.responsive img{
    display: none;
    }

}
